<!-- <p>Thanks for buying!</p> -->

<!-- <a href="<%= @product.download_url %>"><button type="button" class="btn btn-success btn-xs">DOWNLOAD</button></a>
<a href="<%= @product.download_url %>"><button type="button" class="btn btn-success btn-xs">DOWNLOAD</button></a>
<a href="<%= @product.download_url %>"><button type="button" class="btn btn-success btn-xs">DOWNLOAD</button></a> -->
<h1>Thanks - practice these in the order of the Circle of 5ths.</h1>
	
	<div class="downloads">

	<div class="col-md-3"><a href="https://www.dropbox.com/s/sqfqq2qt8tbl57z/c_major.mp4?dl=0"><button type="button" class="btn btn-success btn-xs">C Major</button></a></div>
	<div class="col-md-3"><a href="https://www.dropbox.com/s/jxioygbbiojmego/g_major.mp4?dl=0"><button type="button" class="btn btn-success btn-xs">G Major</button></a></div>
	<div class="col-md-3"><a href="https://www.dropbox.com/s/oejbhjo1127vuum/d_major.mp4?dl=0"><button type="button" class="btn btn-success btn-xs">D Major</button></a></div>
	<div class="col-md-3"><a href="https://s3.amazonaws.com/fourthree/Piano.jpg"><button type="button" class="btn btn-success btn-xs">A Major</button></a></div>
	</div>
	<div class="row">
	<div class="col-md-3"><a href="https://www.dropbox.com/s/k23b14qkjx7wlj1/e_major.mp4?dl=0"><button type="button" class="btn btn-info btn-xs">E Major</button></a></div>
	<div class="col-md-3"><a href="https://www.dropbox.com/s/jl1fhvmko02cmos/b_major.mp4?dl=0"><button type="button" class="btn btn-info btn-xs">B Major</button></a>
	</div>
	<div class="col-md-3"><a href="https://www.dropbox.com/s/iwhmf1pfixd7pzm/f_sharp_major.mp4?dl=0"><button type="button" class="btn btn-info btn-xs">F# Major</button></a></div>
	<div class="col-md-3"><a href="https://www.dropbox.com/s/oejbhjo1127vuum/d_major.mp4?dl=0"><button type="button" class="btn btn-info btn-xs">Db Major</button></a></div>
	</div>

	<div class="row">
	<div class="col-md-3"><a href="https://www.dropbox.com/s/3tvaq0ull3wzy6n/Ab_major.mp4?dl=0"><button type="button" class="btn btn-primary btn-xs">Ab Major</button></a></div>
	<div class="col-md-3"><a href="https://www.dropbox.com/s/ebfgmxim1rpreeg/Eb_major.mp4?dl=0"><button type="button" class="btn btn-primary btn-xs">Eb Major</button></a></div>
	<div class="col-md-3"><a href="https://s3.amazonaws.com/fourthree/Piano.jpg"><button type="button" class="btn btn-primary btn-xs">Bb Major</button></a></div>
	<div class="col-md-3"><a href="https://www.dropbox.com/s/qjgk8u1psefb3cl/f_major.mp4?dl=0"><button type="button" class="btn btn-primary btn-xs">F Major</button></a></div>

	</div>
	

	<small><img src="http://guitaristguitarist.com/images/circle_of_fifths.jpg" alt="Circle of Fifths"></small>
	
</div>